.p-paginator {
  p-dropdown[styleclass='p-paginator-rpp-options'] {
    margin-right: 1rem;
    &:before {
      content: 'تعداد رکوردهای صفحه:';
    }
  }
  .p-dropdown {
    height: unset;
  }

  .p-paginator-current {
    order: 4;
    margin-right: auto;
    border-left: 1px solid #dfe7ef;
    height: 2.4rem;
    padding-left: 1.5rem;
  }

  .p-paginator-page-input {
    display: flex;
    align-items: center;
    order: 5;
    margin-right: 1rem;
    &:before {
      content: 'برو به صفحه:';
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
    .p-inputnumber-input {
      text-align: center;
    }
  }
}
